{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
        
	<title>{ifset title}{include title|striptags} | {/ifset}Blog</title>

	<link rel="stylesheet" type="text/css" href="{$basePath}/css/css.css" media="screen,handheld,print">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
        
	{block head}{/block}
</head>

<body>        
        <div>
            {foreach $flashes as $flash}
                <p class="flashMessage">{$flash->message}</p>
            {/foreach}
        </div>
    
        <header>
            <table>
                <tr>
                    <td>
                       <h1>Blog</h1>
                    </td>
                    <td>
                       {control searchForm}
                    </td>
                    <td>
                        <a n:href="RSS:feed" title="RSS" id="rssImageLink">
                            <img src="{$basePath}/images/RSS.png" alt="RSS kanál">
                        </a>
                    </td>    
                </tr>
            </table>
        </header>
                
        <div class="floatLeft" id="userInfo">
            {if !isset($hideLogin)}
                {if $user == NULL}
                    {control loginForm}
                    <a n:href="Administration:register" class="unimportant">Zaregistrovat se</a>
                    <a n:href="Administration:forgotPassword" class="unimportant">Zapomněl jsem heslo</a>
                {else}
                    <p>Přihlášen {$user|capitalize}<img src="{$basePath}/images/user.png" alt="uživatel"> </p>
                    <div>
                        <a n:href="Administration:menu" class="unimportant" >Administrovat články</a>
                        <a n:href="Homepage:logout" class="unimportant" >Odhlásit se</a>
                    </div>
                {/if}
            {/if}
        </div>
        
        <main>
            {if $action != 'Homepage'}
                <nav>
                    <a n:href="Homepage:default">Zpět na hlavní stranu</a>
                </nav>
            {/if}
            {include content}
        </main>
        
        <aside>
            <h2>Novinky.cz</h2>
            <div id="newsFeed" class="unimportant">
            </div>
        </aside>
        

	{block scripts}
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="{$basePath}/js/nette.ajax.js"></script>
	<script src="//nette.github.io/resources/js/netteForms.min.js"></script>
	<script src="{$basePath}/js/main.js" id="mainScript"></script>
	{/block}
</body>
</html>
