{* Latte template *}

{block content}

<p><strong>Výsledky hledání pro "{$needle|capitalize}":</strong></p>
    {foreach $articles as $article}
        {control articlePreview,$article,$commentCounts[$article->ARTICLE_ID],TRUE}
    {/foreach}
    {if count($articles) == 0}
        <article>
            <p>Pro hledaný výraz nebyly nalezeny žádné výsledky...</p>
        </article>
    {/if}
    {control pageSelector,$pageNumbers,$currentPage,$link}
{/block}

{block bar}
    {control searchForm}
{/block}
