{* Latte template *}

{block content}

<article>
    <header>
        <h3>{$article->HEADER}</h3>
        <p class="unimportant">Vytvořeno dne {$article->DATE_ADDED|date:'d.m.Y'} uživatelem <a n:href="Author:profile $article->AUTHOR_ID">{$article->NICK}</a></p>
    </header>
    <section>
        {if $article->IMAGE != NULL}
        <img src="{$basePath . '/' . $article->IMAGE}" alt="{$article->HEADER}">
        {/if}  

        <p>
            {!$article->CONTENT|nl2br}
        </p>
    </section>
</article>
  
{snippet commentsSnippet}
<div>
    {foreach $comments as $comment}
        <div class="comment">
            {if $commentId == NULL or $commentId != $comment->COMMENT_ID}
                <section>
                    <p>{!$comment->CONTENT|nl2br}</p>
                </section>
                <footer>
                    <p>Přidáno {$comment->DATE_ADDED|date:'d.m.Y H:i  '} uživatelem <a n:href="Author:profile $comment->AUTHOR_ID">{$comment->NICK}</a>
                    <a href="mailto:{$comment->EMAIL}">({$comment->EMAIL})</a></p>

                    {if $comment->NICK == $user}
                        <a class="floatRight ajax" n:href="edit! $comment->COMMENT_ID">UPRAVIT</a>
                        <a class="floatRight ajax" n:href="delete! $comment->COMMENT_ID">SMAZAT</a>
                    {/if}
                </footer>
            {else}    
                {control commentForm}
            {/if}
        </div>
    {/foreach}
    {if $user != NULL}
        {if $commentId == NULL}
            <div class="comment">
            {control commentForm}
            </div>
        {/if}
    {else}
        <p class="comment">Komentáře mohou vkládat pouze přihlášení uživatelé!</p>
    {/if}
    
</div>  
{/snippet}

{/block}
