{block content}

<h2>Informace o uživateli {$author->NICK|capitalize}</h2>
<div class="userDescription">
    <ul>
        <li>Emailová adresa: {$author->EMAIL}</li>
        <li>Registrován dne: {$author->REGISTERED|date:'d.m.Y'}</li>
        <li>Aktivita: {$articleCount} článků</li>
    </ul>   
</div>
    
<p><strong>Články tohoto uživatele:</strong></p>
    {foreach $articles as $article}
        {control articlePreview,$article,$commentCounts[$article->ARTICLE_ID],FALSE}
    {/foreach}
    {control pageSelector,$pageNumbers,$currentPage,$link}
{/block}
