{* Latte template *}

{block content}

<article>
    <header>
        <a href="{plink Article:show $article->ARTICLE_ID }"><h3>{$article->HEADER}</h3></a>
    </header>
    <section>
        {if $article->IMAGE != NULL}
            <img n:attr="src => $basePath . '/' . $article->IMAGE, alt => $article->HEADER" >
        {/if}
        <p>
        {!$article->CONTENT|nl2br|truncate:500}
        </p>
    </section>        
    <footer>
        <div class="floatLeft">
            <p>
                <span class="commentTag">Komentářů: </span><span class="commentCount">{$commentCount}</span>
            </p>
        </div>
        <div class="floatRight unimportant" >
            <p>
                Vytvořeno dne {$article->DATE_ADDED|date:'d.m.Y'} 
                {if $showAuthor == TRUE}
                    uživatelem <a href="{plink Author:profile $article->AUTHOR_ID}">{$article->NICK}</a>
                {/if}
            </p>
        </div>
    </footer>

</article>