{* Latte template *}

{block content}
<div id="pageSelector">
{foreach $pageNumbers as $number}
    
    
    {if $link == ''}
        <a href="{plink this $number}" n:class="$number == $currentPage ? pageNumberActive : pageNumber">
            {$number}
        </a>
    {else}
        <a href="{plink this $link,$number}" n:class="$number == $currentPage ? pageNumberActive : pageNumber">
            {$number}
        </a>
    {/if}
    

{/foreach}    
</div>