
/**  @author Lukáš Kořínek <korinek111@gmail.com> */

*{
    margin: 0;
    padding: 0;
}


body
{
    font-size: 1em;
}

ul
{
    list-style-type: none;
}

nav,figure,header,main,footer,article,aside
{
    display: block;
}