
/**  @author Lukáš Kořínek <korinek111@gmail.com> */

.floatRight
{
    float: right;
}

.floatLeft
{
    float: left;
}

a.pageNumber
{
    height: 15px;
    text-align: center;
    margin: 0 3px;
}

a.pageNumberActive
{
    border: solid 1px $highlightColor;
    color: $textColor;
    height: 15px;
    text-align: center;
}

.commentCount
{
    color: $highlightColor;
    padding: 5px 5px;
    text-align: center;
    font-size: 120%;
}

.commentTag
{
    color: $supplementColor;
}

.unimportant
{
    font-size: 85%;
    margin: 2px 5px;
}

.userDescription
{
    margin-bottom: 40px;
    
    li
    {
        margin: 5px 0;
    }
}

.articleTable
{
    width: 100%;
    margin: 20px 0;
    
    table-layout: fixed;
    text-align: center;
    td
    {
        margin: 3px 3px;
    }
}

.newArticle
{
    padding-top: 5px;
    border-top: solid 1px $supplementColor;
    width: 100%;
    font-size: 130%;
    text-align: center;
}

.comment
{
    background-color: $highlightColor;
    margin-bottom: 10px;
    padding: 15px 15px;
    max-width: 75%;
    
    @media all and (max-width: $largeWidth)
    {
        margin: 5px auto;
    }
    
    footer, footer a
    {
        color: $baseColor;
        font-size: 90%;
        margin: 10px 5px;
    }
}

@media all and (min-width: $largeWidth)
{
    
    .comment:nth-child(even)
    {
        float: left;
    }

    .comment:nth-child(odd)
    {
        float: right;
    }

}

.flashMessage
{
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $highlightColor;
    height: 32px;
    color: $baseColor;
    padding: 3px 0;
    font-size: 140%;
    font-family: 'Bebas';
}

