
/**  @author Lukáš Kořínek <korinek111@gmail.com> */


a,a:link,a:visited
{
    color: $highlightColor;
    text-decoration: none;
}

form table
{

    td
    {
        text-align: left;
    }
    
    th
    {
        text-align: right;
        margin-right: 5px;
    }
    
    label
    {
        text-align: right;
        margin-right: 5px;
    }
    
    textarea
    {
        box-sizing: border-box;
        width: 100%;
    }
    
    
}