
/**  @author Lukáš Kořínek <korinek111@gmail.com> */

$baseColor: #FEFEFE;
$textColor: #222; 
$highlightColor: #CD6600;
$supplementColor: #AAA;

$minWidth: 250px;
$middleWidth: 450px;
$containerWidth: 960px;
$largeWidth: 1500px;

@import '_base.scss';
@import '_classes.scss';
@import '_selectors.scss';

@font-face
{
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face
{
    font-family: 'Bebas';
    src: url('../fonts/BebasNeue.otf');
}

body
{
    @media handheld
    {
        font-size: 110%;
    }
    
    font-family: 'Lato', sans-serif;
    background-color: $baseColor;
    overflow-y: scroll;
    overflow-x: none;
    color: $textColor;
    
    h1,h2,h3,h4,h5,h6
    {
        font-family: 'Bebas', serif;
        color: $highlightColor;
    }
    
    header
    {
        background-color: $highlightColor;
        padding: 2px 2px;
        height: 32px;
        
        @media all and (max-width: $middleWidth)
        {
            height: 60px;
        }
        
        table
        {           
            width: 100%;
            text-align: center;
            table-layout: fixed;
            max-height: inherit;
            
            @media all and (max-width: $middleWidth)
            {
                form
                {
                    position: relative;
                    top: 30px;
                    width: 100%;
                    margin: 0 auto;                    
                }
            }
            
            td:first-child
            {
                text-align: left;
                h1
                {
                    font-size: 150%;
                    margin-left: 10px;
                    color: $textColor;
                }
            }
            
            #frm-searchForm
            {
                background-color: rgba(0,0,0,0.1);
                min-width: $minWidth;
                max-width: $containerWidth;
                max-height: inherit;
                margin: 2px auto;
                display: block;

                label
                {
                    display: none;
                }
                
                tr
                {
                    display: inline;
                    td
                    {
                        display: inline;
                    }

                    th
                    {
                        display: none;
                    }
                }
                
                table tr:first-child
                {
                    width: 100%;
                }
                
                table tr:last-child
                {
                    width: 16px;
                }
                
                td:nth-child(2)
                {
                    width: calc(100% - 40px);
                }
                
                td:nth-child(3)
                {
                    width: 16px;
                }
                
                input[type=submit]
                {
                    margin: 0;
                    padding: 0;
                    text-align: right;
                    border: none;
                    background: url(../images/search.png) no-repeat left center;
                    width:16px;
                    height:16px;
                    cursor: pointer;
                }
                
                input[type=text]
                {
                    width: inherit;
                }

            }
            
            td:last-child
            {
                text-align: right;
                #rssImageLink img
                {
                    padding: 4px 4px;
                    width: 16px;
                    height: 16px;
                }
            }
        }        

    }
    
    #userInfo
    {
        margin-top: 40px;
        text-align: center;
        @media all and (max-width: $largeWidth)
        {
            max-width: $containerWidth;
            margin: 10px auto;
            padding: 0px 5px;
            float: none;
        }
        
        form
        {
            text-align: left;
        }
        
        img
        {
            width: 16px;
            height: 16px;
        }
        
        p
        {
            margin-left: 25px;
            width: 100%;
        }
    }
    
    main
    {
        max-width: $containerWidth;
        margin: 40px auto;
        min-height: 60vh;
        padding-bottom: 50px;
        
        nav
        {
            border-bottom: $supplementColor 1px solid;
            padding: 5px 20px;
            color: $highlightColor;
            margin-bottom: 10px;
        }
        
        article:first-child
        {
            margin-top: 0px;
        }
        
        article
        {
            text-align: justify;
            @media all and (max-width: $middleWidth)
            {
                text-align: left;
            }
            margin: 50px 0px;
            padding: 15px 0px;
            
            header
            {
                height: auto;
                background: none;
                margin-bottom: 15px;
                
                h3
                {
                    font-size: 200%;
                }
            }
            
            section
            {
                min-height: 150px;
                img
                {
                    float: right;
                    margin: 0 15px 15px 15px;
                    
                    @media all and (max-width: $largeWidth)
                    {
                        max-width: 25%;
                    }
                    @media all and (max-width: $middleWidth)
                    {
                        max-width: auto;
                        width: initial;
                        margin: 0 auto;
                        float: none;
                    }
                }
            }
            
            footer
            {
                margin-top: 15px;
                color: $supplementColor;
            }
            
        }
        
        
        
    }
    
    #pageSelector
    {
        width: 100%;
        border-top: solid 1px $supplementColor;
        padding-top: 5px;
        text-align: center;
    }
    
    aside
    {
        display: none;
        max-width: $minWidth;
        
        position: absolute;
        top: 80px;
        right: 5px;
        
        @media all and (max-width: $largeWidth)
        {
            position: static;
            max-width: $containerWidth;
            float: none;
            margin: 20px auto;
            text-align: center;
        }
        @media all and (max-width: $middleWidth)
        {
            text-align: left;
        }
        
        h2
        {
            width: 100%;
            text-align: center;
        }
        
        li
        {
            margin-bottom: 5px;
        }
        
    }
    
}





