{contentType application/xml}

<rss version="2.0">
  <channel>
    <title>Můj blog</title>
    <link>http://{$_SERVER['SERVER_NAME'] . $basePath}</link>
    <description>Jednoduchý moderní blog</description>
    
    {include content}
    
 </channel>
</rss>