{* Latte template *}

{block content}

{foreach $items as $item}
    <item>
        <title>{$item->HEADER}</title>
        <link>http://{$_SERVER['SERVER_NAME']}{link Article:show $item->ARTICLE_ID}</link>
        <description>{$item->CONTENT|truncate:300}</description>
    </item>
{/foreach}


{/block}
