{* Latte template *}

{block content}

{snippet articleTable}
{if $articleCount > 0}
    <h2>Seznam článků</h2>
    <table class="articleTable">
        <thead>
            <tr>
                <th>Název článku</th>
                <th>Přidáno dne</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {foreach $articles as $article}
                <tr>
                   <td>{$article->HEADER}</td>
                   <td>{$article->DATE_ADDED|date:'d.m.Y'}</td>
                   <td><a class="edit" n:href="edit $article->ARTICLE_ID">UPRAVIT</a></td>
                   <td><a class="ajax deleteArticle" n:href="delete! $article->ARTICLE_ID">SMAZAT</a></td>
                </tr>
            {/foreach}
        </tbody>
    </table>
            
{/if}
{/snippet}

<div class="newArticle">
    <a n:href="Administration:newArticle">Nový článek</a>
</div>