@charset "UTF-8";
/**  @author Luk├í┼í Ko┼Ö├şnek <korinek111@gmail.com> */
/**  @author Luk├í┼í Ko┼Ö├şnek <korinek111@gmail.com> */
* {
  margin: 0;
  padding: 0; }

body {
  font-size: 1em; }

ul {
  list-style-type: none; }

nav, figure, header, main, footer, article, aside {
  display: block; }

/**  @author Luk├í┼í Ko┼Ö├şnek <korinek111@gmail.com> */
.floatRight {
  float: right; }

.floatLeft {
  float: left; }

a.pageNumber {
  height: 15px;
  text-align: center;
  margin: 0 3px; }

a.pageNumberActive {
  border: solid 1px #CD6600;
  color: #222;
  height: 15px;
  text-align: center; }

.commentCount {
  color: #CD6600;
  padding: 5px 5px;
  text-align: center;
  font-size: 120%; }

.commentTag {
  color: #AAA; }

.unimportant {
  font-size: 85%;
  margin: 2px 5px; }

.userDescription {
  margin-bottom: 40px; }
  .userDescription li {
    margin: 5px 0; }

.articleTable {
  width: 100%;
  margin: 20px 0;
  table-layout: fixed;
  text-align: center; }
  .articleTable td {
    margin: 3px 3px; }

.newArticle {
  padding-top: 5px;
  border-top: solid 1px #AAA;
  width: 100%;
  font-size: 130%;
  text-align: center; }

.comment {
  background-color: #CD6600;
  margin-bottom: 10px;
  padding: 15px 15px;
  max-width: 75%; }
  @media all and (max-width: 1500px) {
    .comment {
      margin: 5px auto; } }
  .comment footer, .comment footer a {
    color: #FEFEFE;
    font-size: 90%;
    margin: 10px 5px; }

@media all and (min-width: 1500px) {
  .comment:nth-child(even) {
    float: left; }

  .comment:nth-child(odd) {
    float: right; } }
.flashMessage {
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #CD6600;
  height: 32px;
  color: #FEFEFE;
  padding: 3px 0;
  font-size: 140%;
  font-family: 'Bebas'; }

/**  @author Luk├í┼í Ko┼Ö├şnek <korinek111@gmail.com> */
a, a:link, a:visited {
  color: #CD6600;
  text-decoration: none; }

form table td {
  text-align: left; }
form table th {
  text-align: right;
  margin-right: 5px; }
form table label {
  text-align: right;
  margin-right: 5px; }
form table textarea {
  box-sizing: border-box;
  width: 100%; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.ttf"); }
@font-face {
  font-family: 'Bebas';
  src: url("../fonts/BebasNeue.otf"); }
body {
  font-family: 'Lato', sans-serif;
  background-color: #FEFEFE;
  overflow-y: scroll;
  overflow-x: none;
  color: #222; }
  @media handheld {
    body {
      font-size: 110%; } }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: 'Bebas', serif;
    color: #CD6600; }
  body header {
    background-color: #CD6600;
    padding: 2px 2px;
    height: 32px; }
    @media all and (max-width: 450px) {
      body header {
        height: 60px; } }
    body header table {
      width: 100%;
      text-align: center;
      table-layout: fixed;
      max-height: inherit; }
      @media all and (max-width: 450px) {
        body header table form {
          position: relative;
          top: 30px;
          width: 100%;
          margin: 0 auto; } }
      body header table td:first-child {
        text-align: left; }
        body header table td:first-child h1 {
          font-size: 150%;
          margin-left: 10px;
          color: #222; }
      body header table #frm-searchForm {
        background-color: rgba(0, 0, 0, 0.1);
        min-width: 250px;
        max-width: 960px;
        max-height: inherit;
        margin: 2px auto;
        display: block; }
        body header table #frm-searchForm label {
          display: none; }
        body header table #frm-searchForm tr {
          display: inline; }
          body header table #frm-searchForm tr td {
            display: inline; }
          body header table #frm-searchForm tr th {
            display: none; }
        body header table #frm-searchForm table tr:first-child {
          width: 100%; }
        body header table #frm-searchForm table tr:last-child {
          width: 16px; }
        body header table #frm-searchForm td:nth-child(2) {
          width: calc(100% - 40px); }
        body header table #frm-searchForm td:nth-child(3) {
          width: 16px; }
        body header table #frm-searchForm input[type=submit] {
          margin: 0;
          padding: 0;
          text-align: right;
          border: none;
          background: url(../images/search.png) no-repeat left center;
          width: 16px;
          height: 16px;
          cursor: pointer; }
        body header table #frm-searchForm input[type=text] {
          width: inherit; }
      body header table td:last-child {
        text-align: right; }
        body header table td:last-child #rssImageLink img {
          padding: 4px 4px;
          width: 16px;
          height: 16px; }
  body #userInfo {
    margin-top: 40px;
    text-align: center; }
    @media all and (max-width: 1500px) {
      body #userInfo {
        max-width: 960px;
        margin: 10px auto;
        padding: 0px 5px;
        float: none; } }
    body #userInfo form {
      text-align: left; }
    body #userInfo img {
      width: 16px;
      height: 16px; }
    body #userInfo p {
      margin-left: 25px;
      width: 100%; }
  body main {
    max-width: 960px;
    margin: 40px auto;
    min-height: 60vh;
    padding-bottom: 50px; }
    body main nav {
      border-bottom: #AAA 1px solid;
      padding: 5px 20px;
      color: #CD6600;
      margin-bottom: 10px; }
    body main article:first-child {
      margin-top: 0px; }
    body main article {
      text-align: justify;
      margin: 50px 0px;
      padding: 15px 0px; }
      @media all and (max-width: 450px) {
        body main article {
          text-align: left; } }
      body main article header {
        height: auto;
        background: none;
        margin-bottom: 15px; }
        body main article header h3 {
          font-size: 200%; }
      body main article section {
        min-height: 150px; }
        body main article section img {
          float: right;
          margin: 0 15px 15px 15px; }
          @media all and (max-width: 1500px) {
            body main article section img {
              max-width: 25%; } }
          @media all and (max-width: 450px) {
            body main article section img {
              max-width: auto;
              width: initial;
              margin: 0 auto;
              float: none; } }
      body main article footer {
        margin-top: 15px;
        color: #AAA; }
  body #pageSelector {
    width: 100%;
    border-top: solid 1px #AAA;
    padding-top: 5px;
    text-align: center; }
  body aside {
    display: none;
    max-width: 250px;
    position: absolute;
    top: 80px;
    right: 5px; }
    @media all and (max-width: 1500px) {
      body aside {
        position: static;
        max-width: 960px;
        float: none;
        margin: 20px auto;
        text-align: center; } }
    @media all and (max-width: 450px) {
      body aside {
        text-align: left; } }
    body aside h2 {
      width: 100%;
      text-align: center; }
    body aside li {
      margin-bottom: 5px; }

/*# sourceMappingURL=css.css.map */
